.bn47 {
    position: relative;
    padding: 1rem 2rem 0.5rem 2.5rem;
    color: #000000;
    background-color: transparent;
    border: 3px solid #776e62;
    transition: padding 0.3s ease-in-out;
    font-weight: bold;
    font-size: 1.1rem;
    font-family: "Fontdiner Swanky", cursive;
    cursor: pointer;
    z-index: 0;
    text-align: center;
}

.bn47:before {
    content: "";
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    z-index: -1;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #fff78a, #facc15, #d4a100);
    border-right: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    transition: all 0.3s ease-in-out;
}

.bn47:hover {
    padding: 0.75rem 2.25rem;
}

.bn47:hover:before {
    top: 0;
    left: 0;
}
